<div class="back3"> 
  <form>
    
    <div class="container3">
      <div class="head3">
      <h1 style="text-align: center; color: white; background: linear-gradient(to right, #8e2de2, #4a00e0);">Sign Up</h1> 
    </div>
      <div class="la3">
      <label for="fname3"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="name" required></div>
  
      <label for="lname3"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="name" required><br>
  
      <label for="date3"><b>Date</b></label>
      <input type="date" placeholder="dd-mm-yyyy" name="date" required>
  
      <label for="number3"><b>Mobile no</b></label>
      <input type="number" placeholder="Enter Mobile number" name="number" required>
  
      <label for="email3"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw3"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <label for="psw-repeat3"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
  
      <button type="submit" class="registerbtn3">Register</button>
  
      <p style="text-align: center; font-size: 20px;">Already have an account? <a href="#" style="color:red;">Sign in</a>.</p>
    </div>
    
    
  </form>
  </div>
  
  <router-outlet></router-outlet>