  <div class="image"><img src="assets/img/1.jpg"></div>
  <h1 style="text-align:center;">COURIERit Contact Details</h1>
  
  <div class="para">
    <h2 style="text-align:center;">Contact Details & Customer Service</h2>  
  <p>  
  Please chat with us for any help you need!
  </p>
  <p>
  Please approach us for new tie up @
  <u><i>sales@courierit.in</i></u>.
  </p>
  <p>
  You can also call us +91 8888888888 for tie ups in Chinchwad, Wakad and Nigdi for your day to day delivery services! 
  <br>Our customer care service is available from <i><b> 9am to 9pm.</b></i>
  </p>
  <p>
  Our Registered Address:
  Sr.no.121, Matoshri nagar, Walhekarwadi, Chinchwadgaon, Pune-411033.<br>
  Please do not hesitate to chat with us on site or leave us your number to order a call back!
  </p>
</div> 

<router-outlet></router-outlet>