<div class='parent1'>
    <div class="container1-1">
      <img src="/assets/img/logo1.jpg" height="62px" width="190px">
    </div>
    <div class="container1-2">

    
    <div class="container1-3">
    <h3 style="text-align: center;color: #003F87;">Welcome to COURIERit..!!!</h3>
    <h2 style="color:#303030;">Log into your Account </h2>
      <label for="uname" style="font-size: 18px;"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw" style="font-size: 18px;"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" style="font-size: 16px;">Login</button><br><br><br><br><br>
    
      <!-- <span class="psw" style="color:#505050;">Forgot <a href="#">password?</a></span> -->
      <span class="reg1"style="color:#505050;">If not Registered?<a href="#">Register Here</a></span>
    </div>
    </div>
  </div>
<router-outlet></router-outlet>